---
import { join } from "node:path";
import '@drowr/licid/styles.css'
import '@/styles.css'
import { AstroFont } from "astro-font";
import { ClientRouter } from "astro:transitions";
import { Header, Footer } from "@drowr/licid";
import config from "@/config/config.json";
import SearchPageFind from "@/components/Search.astro"

interface Props {
  title?: string;
  description?: string;
  author?: string;
  image?: string;
}

const { title, description, author, image } = Astro.props;
const fontPrefix = import.meta.env.PROD ? "/" : join(process.cwd(), "public");

console.log(fontPrefix);
console.log(import.meta.env.PROD);
console.log(Astro.site.toString());
---

<html lang="en" class="mode-auto">
  <head>
    <meta charset="utf-8" />

    <AstroFont
      config={[
        {
          name: "Plain",
          cssVariable: "font-plain",
          preload: false,
          src: [
            {
              weight: "500",
              style: "normal",
              path: join(fontPrefix, "fonts", "IosevkaEtoile-Medium.woff2"),
              display: "swap",
            },
            {
              weight: "400",
              style: "normal",
              path: join(fontPrefix, "fonts", "IosevkaEtoile-Regular.woff2"),
              display: "swap",
            },
          ],
        },
        {
          name: "Brand",
          cssVariable: "font-brand",
          preload: false,
          src: [
            {
              weight: "400",
              style: "normal",
              path: join(fontPrefix, "fonts", "SkullAndVoid.otf"),
              display: "swap",
            },
          ],
          fallback: "sans-serif",
        },
      ]}
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <!-- title -->
    <title>{title ? title : config.site.title}</title>

    <!-- meta-description -->
    <meta
      name="description"
      content={description ? description : config.site.description}
    />

    <ClientRouter fallback="swap" />

    <meta name="author" content={author ? author : config.site.author} />

    <!-- og-title -->
    <meta property="og:title" content={title ? title : config.site.title} />

    <!-- og-description -->
    <meta
      property="og:description"
      content={description ? description : config.site.description}
    />

    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta name="twitter:title" content={title ? title : config.site.title} />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={description ? description : config.site.description}
    />

    { image ? (
    <!-- og-image -->
    <meta
      property="og:image"
      content={image}
    />
    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={image}
    />
    ) : (
    ''
    )
    }

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="fediverse:creator" content="@szorfein@mastodon.social" />
  </head>
  <body>
      <Header>
    <SearchPageFind />
      </Header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
