---
import { ChipsFilter } from "@drowr/licid";
import { getAllPosts } from "@/lib/client";

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;

const tags = [...new Set(allPosts.flatMap((post) => post.node.tags))];
const currentPath = new URL(Astro.request.url).pathname;
const pathSegments = currentPath
  .split("/")
  .filter((segment) => segment.length > 0);

const atest = (word) => {
  const currentTag = pathSegments[pathSegments.length - 1] || "";
  //console.log(currentTag);
  //console.log(word);
  return currentTag === word;
};
---

<div class="mb-6 flex flex-row flex-wrap items-center justify-start gap-2">
  <ChipsFilter
    name="all"
    slug="/posts"
    isfocus={atest("posts") ? true : false}
  />
  {
    tags.map((t) => (
      <ChipsFilter
        name={t.name}
        slug={`/posts/tag/${t.slug}`}
        isfocus={atest(t.slug) ? true : false}
      />
    ))
  }
</div>
