---
import { getAllPosts } from '../lib/client';
import { MyComponent } from '@drowr/licid'

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
            <MyComponent prefix="Hello" />
            <h1>Astro</h1>
            {
            allPosts.map((post) => (
                <div>
                    <h2>{post.node.title}</h2>
                    <a href={`/post/${post.node.slug}`}>Read more</a>
                </div>
            ))
        }
	</body>
</html>
