---
import LastTheme from "@/blocks/home/LastTheme.astro";
import Layout from "@/layouts/Layout.astro";
import NewsLetterHashnode from "@/blocks/home/NewsLetterHashnode.astro";
import RecentsPosts from "@/blocks/home/RecentsPosts.astro";
import Skills from "@/blocks/home/Skills.astro";
import { HeroHome } from "@drowr/licid";
import config from "@/config/config.json";
---

<Layout>
  <div class="container mx-auto px-4">
    <div class="mx-auto w-full lg:max-w-4xl">
      <HeroHome author={config.site.author} />
      <Skills />
      <LastTheme />
      <div class="pt-16 sm:pt-18 md:pt-20 lg:pt-30">
        <RecentsPosts />
      </div>
      <NewsLetterHashnode server:defer />
    </div>
  </div>
</Layout>
