/* All fonts defined by order Big to small */
/* Material 3 use 2 fonts (can be differents):
md.ref.typeface.brand, the brand is used on some title
md.ref.typeface.plain, else plain is used.

/*
Register for Tailwind */
@font-face {
  font-family: typeface-plain; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

/*
/*
/* All display */
@font-face {
  font-family: display-large; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: display-medium; /* any name */
  src: url(/IosevkaEtoile-Regular.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 45pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 52pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: display-small; /* any name */
  src: url(/IosevkaEtoile-Regular.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 36pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 44pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

/*
/*
/* All headline */
@font-face {
  font-family: headline-large; /* any name */
  src: url(/IosevkaEtoile-Regular.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 32pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 40pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: headline-medium; /* any name */
  src: url(/IosevkaEtoile-Regular.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 28pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 36pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: headline-small; /* any name */
  src: url(/IosevkaEtoile-Regular.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 24pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 32pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

/*
/*
/* All title */
@font-face {
  font-family: title-large; /* any name */
  src: url(/IosevkaEtoile-Regular.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 22pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 28pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: title-medium; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 500;
  font-size: 16pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 24pt;
  font-display: swap;
}
@font-face {
  font-family: title-small; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 500;
  font-size: 14pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 20pt;
  font-display: swap;
}

/*
/*
/* All body */
@font-face {
  font-family: body-large; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 24pt;
  font-display: swap;
}
@font-face {
  font-family: body-medium; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 20pt;
  font-display: swap;
}
@font-face {
  font-family: body-small; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 400;
  font-size: 12pt;
  letter-spacing: 0.1pt; /* same than font-tracking: */
  line-height: 16pt;
  font-display: swap;
}

/*
/*
/* All label */
@font-face {
  font-family: label-large; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 500;
  font-size: 14pt;
  letter-spacing: 0; /* same than font-tracking: */
  line-height: 20pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: label-medium; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 500;
  font-size: 12pt;
  letter-spacing: 0.1pt; /* same than font-tracking: */
  line-height: 16pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: label-small; /* any name */
  src: url(/IosevkaEtoile-Medium.woff2) format("woff2"); /* the font size is 1.6M for v34.0.0 */
  font-weight: 500;
  font-size: 11pt;
  letter-spacing: 0.1pt; /* same than font-tracking: */
  line-height: 16pt;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
}
