---
import Layout from "../../layouts/Layout.astro";
import { getAllPosts, getPost } from "../../lib/client";

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {
      params: { slug: post.node.slug },
    };
  });
}
const { slug } = Astro.params;
const post = await getPost(slug);
---

<Layout>
  <!--
    <title>{post.title}</title>
    -->
  <div class="container">
    <h1 class="headline-medium">{post.title}</h1>
    <div class="body-medium">
      <Fragment set:html={post.content.html} />
      <a href="/">back home</a>
    </div>
  </div>
</Layout>
